.container2{
    display: flex;
    /* align-items:center ; */
    /* justify-content: center; */
}
.container3{
    margin-top: 50px;
}
.button_Start{
    margin: 50px;
}
.included_Subjects{
    margin-left: 40%;
    margin-right: 40px;
    margin-top: -44px;
}
.list_Item{
    margin: 18px;
     width: 130%;
     background-color: rgb(232, 203, 250);
     
    border-radius: 25px solid purple;
   
}
.labels{
    border-radius: 25px solid black;
}